body{background-color: black;}
.rectangle{background-image: url("https://skm150214.github.io/skmgames/Emptyforweb.png");}

.rectangle:nth-child(1) {
    background-image: url('https://skm150214.github.io/skmgames/stopwgame.png');

}
